.vscode/
autom4te.cache/
aclocal.m4
config.*
configure*
!configure.ac
depcomp
install-sh
Makefile*
!Makefile.am
missing
myfifo*
src/.deps/
src/Makefile
src/config.h
src/stamp-h1
src/*.o
src/*.exe
*.txt
*.prn
*.xlsx
